MONGODB_URI=
PORT=9001
NODE_ENV=development
GEMINI_API_KEY=
IMAP_USER=user@gmail.com
IMAP_PASSWORD=
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxI_xuKqVvWlcHnOCld4KhzCE3z9bYvV2gV6uaBMZQvP3_4FnEEPuuZ9xC6Ckvyzp86og/exec
